wms_despachos_ejecutar.json
{
  "name": "WMS - Despachos Ejecutar",
  "nodes": [
    {
      "id": "a43ac4f0-97ed-4ac3-ad70-751034be06c9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "wms-despachos-ejecutar-001",
      "parameters": {
        "path": "wms-despachos-ejecutar",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "33d424a3-573d-43c6-bdf6-ca3330888e49",
      "name": "Login WMS Normal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://store1.zenderbox.com/app/validarusuario.asp",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "usuario",
              "value": "zenderbot@zenderbox.com"
            },
            {
              "name": "clave",
              "value": "zenderbot@zenderbox.com"
            },
            {
              "name": "cbxidioma",
              "value": "2"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "bdc3fd4a-8451-4fca-a638-72352be322ab",
      "name": "Extraer Cookies y IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst raw = headers['set-cookie'] || headers['Set-Cookie'] || [];\nconst parts = Array.isArray(raw) ? raw : [raw];\nconst cookieNormal = parts\n  .map(c => (typeof c === 'string' ? c.split(';')[0].trim() : ''))\n  .filter(Boolean).join('; ');\nif (!cookieNormal) throw new Error('Login fallido.');\n\n// Obtener casillero_ids del body del webhook\nconst body = $('Webhook').item.json.body || {};\nconst casilleroIds = body.casillero_ids || [];\n\nif (casilleroIds.length === 0) throw new Error('No se recibieron casillero_ids');\n\nreturn [{ json: { cookieNormal, casilleroIds } }];"
      }
    },
    {
      "id": "2d4871a1-9d19-44c2-b89c-161eb5d55bb1",
      "name": "Buscar en Despachos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://store1.zenderbox.com/app/deapachoscasillero.asp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.cookieNormal }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "nrogui",
              "value": ""
            },
            {
              "name": "guimia",
              "value": ""
            },
            {
              "name": "agencia",
              "value": ""
            },
            {
              "name": "usuario",
              "value": ""
            },
            {
              "name": "pais",
              "value": ""
            },
            {
              "name": "remitente",
              "value": ""
            },
            {
              "name": "destinatario",
              "value": ""
            },
            {
              "name": "casillero",
              "value": ""
            },
            {
              "name": "pagado",
              "value": "0"
            },
            {
              "name": "posicion",
              "value": ""
            },
            {
              "name": "telrem",
              "value": ""
            },
            {
              "name": "teldes",
              "value": ""
            },
            {
              "name": "valor",
              "value": ""
            },
            {
              "name": "observacion",
              "value": ""
            },
            {
              "name": "peso1",
              "value": ""
            },
            {
              "name": "peso2",
              "value": ""
            },
            {
              "name": "fechainicial",
              "value": ""
            },
            {
              "name": "fechafinal",
              "value": ""
            },
            {
              "name": "po",
              "value": ""
            },
            {
              "name": "cuenta",
              "value": ""
            },
            {
              "name": "Submit",
              "value": "Buscar"
            },
            {
              "name": "AB_buscar",
              "value": "form1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "8a472896-1694-4a81-8766-8d3afe902422",
      "name": "Motor de Reglas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "\n// ══════════════════════════════════════════════════════\n// MOTOR DE REGLAS - WMS Despachos Colombia v2\n// ══════════════════════════════════════════════════════\nconst REGLAS = {\n  posiciones_validas:    ['Z2-', 'Z7-'],\n  contenido_bloqueado:   ['ingreso cubiq', 'celular', 'imei'],\n  contenido_dg:          ['dg', 'un'],\n  contenido_cr:          ['costa rica', 'colon [san jose]'],\n  agencia_cr:            ['zenderbox costa rica', 'zenderbox cr'],\n  peso_minimo:           0.01,\n  valor_declarado_max:   200,\n  casilleros_bloqueados: ['ZB-114665'],\n  casilleros_bloqueados_id: ['17771'],\n};\n\nconst html = $input.item.json.data || '';\nconst cookieNormal = $('Extraer Cookies y IDs').item.json.cookieNormal;\nconst casilleroIds = $('Extraer Cookies y IDs').item.json.casilleroIds || [];\n\nif (html.length < 500) throw new Error('HTML muy pequeño - error de sesión');\n\nconst rows = [];\nconst whrPattern = /<span class=\"titulos\">(WHR\\d+)<\\/span>/g;\nlet match;\n\nwhile ((match = whrPattern.exec(html)) !== null) {\n  const whr = match[1];\n  const start = match.index;\n  const block = html.substring(start, start + 3000);\n\n  const midM = block.match(/manifiesto_id\" value=\"(\\d+)\"/);\n  const manifestoId = midM ? midM[1] : '';\n\n  const creaM = block.match(/crea_guia\\('WHR\\d+','(\\d+)'\\)/);\n  const casilleroId = creaM ? creaM[1] : '';\n\n  // Solo procesar los casilleros seleccionados\n  if (!casilleroIds.includes(casilleroId)) continue;\n\n  const tdMatches = [...block.matchAll(/<td class=\"reciboSMALLCAP\">\\s*([\\s\\S]*?)\\s*<\\/[Tt][Dd]>/g)];\n  const agencia = tdMatches[0] ? tdMatches[0][1].trim().replace(/<[^>]+>/g,'').replace(/\\s+/g,' ') : '';\n  const destinatario = tdMatches[2] ? tdMatches[2][1].replace(/<br>/gi,'|').replace(/<[^>]+>/g,'').trim() : '';\n  const valorDecReal = tdMatches[8] ? tdMatches[8][1].trim().replace(/<[^>]+>/g,'').trim() : '0';\n\n  const posM = block.match(/(Z[27]-[\\w-]+)/);\n  const posicion = posM ? posM[1] : '';\n\n  const pesoM = block.match(/name=\"pes_\\d+\" type=\"text\"[^>]*value=\"([^\"]*)\"/);\n  const peso = pesoM ? pesoM[1].trim() : '';\n\n  const desM = block.match(/name=\"des_\\d+\" type=\"text\"[^>]*value=\"([^\"]*)\"/);\n  const contenido = desM ? desM[1].trim() : '';\n\n  const decM = block.match(/name=\"dec_\\d+\" type=\"text\"[^>]*value=\"([^\"]*)\"/);\n  const valorDec = decM ? decM[1].trim() : '0';\n\n  const contenidoLower = contenido.toLowerCase();\n  const destLower = destinatario.toLowerCase();\n  const agenciaLower = agencia.toLowerCase();\n\n  const posValida          = REGLAS.posiciones_validas.some(p => posicion.startsWith(p));\n  const pesoNum            = parseFloat(peso) || 0;\n  const pesoValido         = pesoNum >= REGLAS.peso_minimo;\n  const bloqueado          = REGLAS.contenido_bloqueado.some(p => contenidoLower.includes(p));\n  const esDG               = REGLAS.contenido_dg.some(p => contenidoLower.includes(p));\n  const esCR               = REGLAS.contenido_cr.some(p => destLower.includes(p)) ||\n                             REGLAS.agencia_cr.some(p => agenciaLower.includes(p));\n  const valorDecNum        = parseFloat(valorDecReal) || 0;\n  const valorAlto          = valorDecNum > REGLAS.valor_declarado_max;\n  const casilleroBloqueado = REGLAS.casilleros_bloqueados_id.includes(casilleroId);\n\n  let skip = false;\n  let skipRazon = '';\n\n  if (casilleroBloqueado) { skip = true; skipRazon = 'CASILLERO_BLOQUEADO'; }\n  else if (!posValida)    { skip = true; skipRazon = 'SIN_POSICION'; }\n  else if (!pesoValido)   { skip = true; skipRazon = 'PESO_CERO'; }\n  else if (bloqueado)     { skip = true; skipRazon = 'CONTENIDO_BLOQUEADO'; }\n  else if (esCR)          { skip = true; skipRazon = 'COSTA_RICA'; }\n  else if (valorAlto)     { skip = true; skipRazon = `VALOR_ALTO_${valorDecNum}`; }\n\n  rows.push({ whr, manifestoId, casilleroId, agencia, destinatario, posicion,\n    peso: pesoNum, contenido, valorDec, valorDecReal, esDG, skip, skipRazon });\n}\n\nconst grupos = {};\nfor (const r of rows) {\n  const key = r.casilleroId || '__sin_casillero';\n  if (!grupos[key]) grupos[key] = [];\n  grupos[key].push(r);\n}\n\nconst resultados = [];\n\nfor (const [casId, guias] of Object.entries(grupos)) {\n  const validas  = guias.filter(g => !g.skip);\n  const omitidas = guias.filter(g => g.skip);\n  const tieneDG  = validas.some(g => g.esDG);\n\n  if (validas.length === 0 || omitidas.length > 0) continue;\n\n  const paItems = validas.map(g => `${g.peso}x0x0x0x${g.manifestoId}`);\n  resultados.push({\n    casilleroId:  casId,\n    agencia:      guias[0].agencia,\n    tipo:         tieneDG ? 'DG' : 'NORMAL',\n    whrsValidos:  validas.map(g => g.whr),\n    whrsStr:      validas.map(g => `'${g.whr}'`).join(','),\n    whrsBuscar:   validas.map(g => g.whr).join('%7C'),\n    pa:           paItems.join('|'),\n    piezas:       validas.length,\n    pesoTotal:    validas.reduce((s, g) => s + g.peso, 0).toFixed(2),\n    descripcion:  validas.map(g => g.contenido).join('\\n'),\n    valdec:       validas.reduce((s, g) => s + (parseFloat(g.valorDec) || 0), 0),\n    primerWhr:    validas[0].whr,\n    cookieNormal,\n    nomr: 'por confirmar', dirr: '8524 NW 61 ST', ciur: 'Miami',\n    estr: 'Florida', zipr: '33166', pair: 'USA', telr: '305-594-1100',\n    nAgencia: '00001', nprod: 'experto.col', producto: '16',\n  });\n}\n\nif (resultados.length === 0) {\n  return [{ json: { __sinGrupos: true, mensaje: 'Ningún grupo válido para despachar', cookieNormal }}];\n}\n\nreturn resultados.map(r => ({ json: r }));\n"
      }
    },
    {
      "id": "673cad78-3756-47d7-bafd-7f99ac1872d1",
      "name": "Split Grupos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "93531c6d-fbc1-45a9-a191-b2e720d52f3c",
      "name": "¿Es DG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "DG",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e1beff67-b7cf-4a10-9753-ceddc1f16222",
      "name": "Login WMS DG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://store1.zenderbox.com/app/validarusuario.asp",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "usuario",
              "value": "alejandro.acuna@zenderbox.com"
            },
            {
              "name": "clave",
              "value": "Alejo1983.,"
            },
            {
              "name": "cbxidioma",
              "value": "2"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "54af20be-0aab-471d-9357-fc4a60cbb67f",
      "name": "Extraer Cookies DG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        160
      ],
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst raw = headers['set-cookie'] || headers['Set-Cookie'] || [];\nconst parts = Array.isArray(raw) ? raw : [raw];\nconst cookieDG = parts\n  .map(c => (typeof c === 'string' ? c.split(';')[0].trim() : ''))\n  .filter(Boolean).join('; ');\nif (!cookieDG) throw new Error('Login DG fallido.');\nconst grupo = $('Split Grupos').item.json;\nreturn [{ json: { ...grupo, cookieActiva: cookieDG }}];"
      }
    },
    {
      "id": "bf328800-f70d-4b8d-ad7a-ceb75d0e5ae5",
      "name": "Preparar Cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ],
      "parameters": {
        "jsCode": "const grupo = $('Split Grupos').item.json;\nreturn [{ json: { ...grupo, cookieActiva: grupo.cookieNormal }}];"
      }
    },
    {
      "id": "fa786920-2370-4b5e-b111-b18911a11aa3",
      "name": "whrToGuiaMultiples",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://store1.zenderbox.com/app/ajax/whrToGuiaMultiples.asp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.cookieActiva }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "w_whrs",
              "value": "={{ $json.whrsBuscar }}"
            },
            {
              "name": "w_despacho",
              "value": ""
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "fecc823e-b921-46a3-82db-ac6d995db6dc",
      "name": "Cargar guias.asp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://store1.zenderbox.com/app/guias.asp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('Preparar Cookie').item.json.cookieActiva || $('Extraer Cookies DG').item.json.cookieActiva }}"
            },
            {
              "name": "Referer",
              "value": "https://store1.zenderbox.com/app/deapachoscasillero.asp"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "donde",
              "value": "consulta"
            },
            {
              "name": "valdec",
              "value": "={{ $('Split Grupos').item.json.valdec || '0' }}"
            },
            {
              "name": "despacho_form",
              "value": "1"
            },
            {
              "name": "nomr",
              "value": "={{ $('Split Grupos').item.json.nomr }}"
            },
            {
              "name": "dirr",
              "value": "={{ $('Split Grupos').item.json.dirr }}"
            },
            {
              "name": "pair",
              "value": "={{ $('Split Grupos').item.json.pair }}"
            },
            {
              "name": "ciur",
              "value": "={{ $('Split Grupos').item.json.ciur }}"
            },
            {
              "name": "estr",
              "value": "={{ $('Split Grupos').item.json.estr }}"
            },
            {
              "name": "zipr",
              "value": "={{ $('Split Grupos').item.json.zipr }}"
            },
            {
              "name": "telr",
              "value": "={{ $('Split Grupos').item.json.telr }}"
            },
            {
              "name": "piezas",
              "value": "={{ $('Split Grupos').item.json.piezas }}"
            },
            {
              "name": "pesol",
              "value": "={{ $('Split Grupos').item.json.pesoTotal }}"
            },
            {
              "name": "alto",
              "value": "0"
            },
            {
              "name": "ancho",
              "value": "0"
            },
            {
              "name": "largo",
              "value": "0"
            },
            {
              "name": "producto",
              "value": "={{ $('Split Grupos').item.json.producto }}"
            },
            {
              "name": "producton",
              "value": "={{ $('Split Grupos').item.json.producto }}"
            },
            {
              "name": "SoloCOD",
              "value": "True"
            },
            {
              "name": "descripcion",
              "value": "={{ $('Split Grupos').item.json.descripcion }}"
            },
            {
              "name": "pa",
              "value": "={{ $('Split Grupos').item.json.pa }}"
            },
            {
              "name": "paises",
              "value": "1"
            },
            {
              "name": "pago",
              "value": "porcobrar"
            },
            {
              "name": "nAgencia",
              "value": "={{ $('Split Grupos').item.json.nAgencia }}"
            },
            {
              "name": "nprod",
              "value": "={{ $('Split Grupos').item.json.nprod }}"
            },
            {
              "name": "whrs",
              "value": "={{ $('Split Grupos').item.json.whrsStr }}"
            },
            {
              "name": "nro_primer_paquete",
              "value": "={{ $('Split Grupos').item.json.primerWhr }}"
            },
            {
              "name": "promocion",
              "value": "0"
            },
            {
              "name": "PoboxPcode",
              "value": "0"
            },
            {
              "name": "observaciones",
              "value": "={{ $('Split Grupos').item.json.whrsValidos.map(w => ',/').join('') }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "f4e3b9f4-72a2-4593-b110-4a5bef9b93a1",
      "name": "Parsear guias.asp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        300
      ],
      "parameters": {
        "jsCode": "const html = $input.item.json.data || '';\nconst grupo = $('Split Grupos').item.json;\n\nif (html.length < 500) {\n  return [{ json: { ...grupo, _parseOk: false, _error: 'guias.asp respuesta vacía' }}];\n}\n\nfunction extractField(name) {\n  const m = html.match(new RegExp('name=\"' + name + '\"[^>]*value=\"([^\"]*)\"', 'i'));\n  return m ? m[1] : '';\n}\n\nconst casillero       = extractField('casillero');\nconst casillero_id    = extractField('casillero_id');\nconst CASILLEROS_BLOQUEADOS = ['ZB-114665'];\nif (CASILLEROS_BLOQUEADOS.includes(casillero)) {\n  return [{ json: { ...grupo, _parseOk: false, _error: `CASILLERO_BLOQUEADO - ${casillero}`, casillero }}];\n}\n\nconst guiaingreso     = extractField('guiaingreso');\nconst fletes          = extractField('fletes') || '0';\nconst Total           = extractField('Total') || '0';\nconst adicionales     = extractField('adicionales') || '0';\nconst h_adic_auto     = extractField('h_adicionales_auto') || '';\nconst Val_Dif_Vol     = extractField('Val_Dif_Vol') || '0';\nconst impuestotxt     = extractField('impuestotxt') || '0.00';\nconst seguro          = extractField('seguro') || '5.00';\nconst totalseguro     = extractField('totalseguro') || '0.00';\nconst pesovolumetrico = extractField('pesovolumetrico') || '0';\nconst paquetesadjuntos = extractField('paquetesadjuntos') || '';\nconst formaPago       = extractField('formaPago') || 'NP';\nconst nomd            = extractField('nomd');\nconst dird            = extractField('dird');\nconst des_nit         = extractField('des_nit');\nconst ciudades        = extractField('ciudades');\nconst ciudadesn       = extractField('ciudadesn');\nconst paises          = extractField('paises') || '1';\nconst paisesn         = extractField('paisesn');\nconst zipd            = extractField('zipd');\nconst teld            = extractField('teld');\nconst emaild          = extractField('emaild');\nconst celular_des     = extractField('celular_des');\nconst rem_id          = extractField('rem_id') || '';\nconst valdec          = extractField('valdec') || grupo.valdec || '0';\nconst diferenciaPeso  = extractField('diferenciaPeso') || '0';\nconst pesol2          = extractField('pesol2') || grupo.pesoTotal;\nconst pesovol         = extractField('pesovol') || '0.00';\n\nif (!Total || Total === '0') {\n  return [{ json: { ...grupo, _parseOk: false, _error: 'SIN_TARIFA - guía ya despachada o sin tarifa', casillero, guiaingreso }}];\n}\n\nreturn [{ json: {\n  ...grupo, _parseOk: true,\n  guiaingreso, fletes, Total, adicionales, h_adic_auto,\n  Val_Dif_Vol, impuestotxt, seguro, totalseguro,\n  pesovolumetrico, paquetesadjuntos, formaPago,\n  diferenciaPeso, pesol2, pesovol, valdec,\n  casillero, casillero_id_real: casillero_id,\n  nomd, dird, des_nit, ciudades, ciudadesn,\n  paises, paisesn, zipd, teld, emaild, celular_des, rem_id,\n}}];"
      }
    },
    {
      "id": "6e53c15b-580d-4922-abc0-4e3fcf050108",
      "name": "¿Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._parseOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6e313ee9-e69f-4221-8b8c-12323157a3d9",
      "name": "guardarguia.asp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://store1.zenderbox.com/app/guardarguia.asp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.cookieActiva }}"
            },
            {
              "name": "Referer",
              "value": "https://store1.zenderbox.com/app/guias.asp"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "despacho_form",
              "value": "1"
            },
            {
              "name": "nAgencia",
              "value": "={{ $json.nAgencia }}"
            },
            {
              "name": "nomr",
              "value": "={{ $json.nomr }}"
            },
            {
              "name": "n_remitente",
              "value": ""
            },
            {
              "name": "n_destinatario",
              "value": ""
            },
            {
              "name": "dirr",
              "value": "={{ $json.dirr }}"
            },
            {
              "name": "ciur",
              "value": "={{ $json.ciur }}"
            },
            {
              "name": "estr",
              "value": "={{ $json.estr }}"
            },
            {
              "name": "zipr",
              "value": "={{ $json.zipr }}"
            },
            {
              "name": "pair",
              "value": "={{ $json.pair }}"
            },
            {
              "name": "telr",
              "value": "={{ $json.telr }}"
            },
            {
              "name": "guiaingreso",
              "value": "={{ $json.guiaingreso }}"
            },
            {
              "name": "rem_id",
              "value": "={{ $json.rem_id }}"
            },
            {
              "name": "email",
              "value": ""
            },
            {
              "name": "celular_rem",
              "value": ""
            },
            {
              "name": "nomd",
              "value": "={{ $json.nomd }}"
            },
            {
              "name": "dird",
              "value": "={{ $json.dird }}"
            },
            {
              "name": "ciudadesn",
              "value": "={{ $json.ciudadesn }}"
            },
            {
              "name": "paisesn",
              "value": "={{ $json.paisesn }}"
            },
            {
              "name": "des_nit",
              "value": "={{ $json.des_nit }}"
            },
            {
              "name": "barrio",
              "value": ""
            },
            {
              "name": "ciudades",
              "value": "={{ $json.ciudades }}"
            },
            {
              "name": "paises",
              "value": "={{ $json.paises }}"
            },
            {
              "name": "zipd",
              "value": "={{ $json.zipd }}"
            },
            {
              "name": "teld",
              "value": "={{ $json.teld }}"
            },
            {
              "name": "pais",
              "value": "1"
            },
            {
              "name": "emaild",
              "value": "={{ $json.emaild }}"
            },
            {
              "name": "celular_des",
              "value": "={{ $json.celular_des }}"
            },
            {
              "name": "nomcuenta",
              "value": ""
            },
            {
              "name": "cuenta",
              "value": ""
            },
            {
              "name": "casillero",
              "value": "={{ $json.casillero }}"
            },
            {
              "name": "casillero_id",
              "value": "={{ $json.casillero_id_real }}"
            },
            {
              "name": "producton",
              "value": "={{ $json.nprod }}"
            },
            {
              "name": "producto",
              "value": "={{ $json.producto }}"
            },
            {
              "name": "nprod",
              "value": "={{ $json.nprod }}"
            },
            {
              "name": "SoloCOD",
              "value": "True"
            },
            {
              "name": "pesot",
              "value": ""
            },
            {
              "name": "alto",
              "value": "0"
            },
            {
              "name": "ancho",
              "value": "0"
            },
            {
              "name": "largo",
              "value": "0"
            },
            {
              "name": "diferenciaPeso",
              "value": "={{ $json.diferenciaPeso }}"
            },
            {
              "name": "pa",
              "value": "={{ $json.pa }}"
            },
            {
              "name": "pacan",
              "value": ""
            },
            {
              "name": "pesovolumetrico",
              "value": "={{ $json.pesovolumetrico }}"
            },
            {
              "name": "pcobrar",
              "value": ""
            },
            {
              "name": "paquetesadjuntos",
              "value": "={{ $json.paquetesadjuntos }}"
            },
            {
              "name": "descripcion",
              "value": "={{ $json.descripcion }}"
            },
            {
              "name": "whrs",
              "value": "={{ $json.whrsStr }}"
            },
            {
              "name": "catalogos",
              "value": "0"
            },
            {
              "name": "piezas",
              "value": "={{ $json.piezas }}"
            },
            {
              "name": "piezas2",
              "value": "={{ $json.piezas }}"
            },
            {
              "name": "pesol",
              "value": "={{ $json.pesoTotal }}"
            },
            {
              "name": "pesol2",
              "value": "={{ $json.pesol2 }}"
            },
            {
              "name": "pesovol",
              "value": "={{ $json.pesovol }}"
            },
            {
              "name": "pesovol2",
              "value": "0.00"
            },
            {
              "name": "formaPago",
              "value": "={{ $json.formaPago }}"
            },
            {
              "name": "val",
              "value": "0"
            },
            {
              "name": "fletes",
              "value": "={{ $json.fletes }}"
            },
            {
              "name": "Val_Dif_Vol",
              "value": "={{ $json.Val_Dif_Vol }}"
            },
            {
              "name": "calcularimpuesto",
              "value": "Si"
            },
            {
              "name": "valdec",
              "value": "={{ $json.valdec }}"
            },
            {
              "name": "impuestotxt",
              "value": "={{ $json.impuestotxt }}"
            },
            {
              "name": "otros1",
              "value": "0.00"
            },
            {
              "name": "seguro",
              "value": "={{ $json.seguro }}"
            },
            {
              "name": "calcularseguro",
              "value": "Si"
            },
            {
              "name": "valasegurado",
              "value": "0"
            },
            {
              "name": "totalseguro",
              "value": "={{ $json.totalseguro }}"
            },
            {
              "name": "h_adicionales",
              "value": ""
            },
            {
              "name": "h_adicionales_auto",
              "value": "={{ $json.h_adic_auto }}"
            },
            {
              "name": "codpa",
              "value": ""
            },
            {
              "name": "idpa",
              "value": ""
            },
            {
              "name": "adicionales",
              "value": "={{ $json.adicionales }}"
            },
            {
              "name": "seguroagencia",
              "value": "0"
            },
            {
              "name": "seguroffw",
              "value": "0"
            },
            {
              "name": "otros",
              "value": "0"
            },
            {
              "name": "descuento",
              "value": "0"
            },
            {
              "name": "promocion",
              "value": "0.00"
            },
            {
              "name": "despachoID",
              "value": ""
            },
            {
              "name": "PoboxPcode",
              "value": "0"
            },
            {
              "name": "Total",
              "value": "={{ $json.Total }}"
            },
            {
              "name": "observaciones",
              "value": "={{ $json.whrsValidos.map(w => ',/').join('') }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "2918a2e3-753c-4fa7-80ad-7ce971d561d5",
      "name": "Verificar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        300
      ],
      "parameters": {
        "jsCode": "const resp = $input.item.json;\nconst grupo = $('Split Grupos').item.json;\nconst headers = resp.headers || {};\nconst location = headers['location'] || headers['Location'] || '';\nconst statusCode = resp.statusCode || 0;\nconst exito = statusCode === 302 && location.includes('salvado=1');\nconst idMatch = location.match(/id=(\\d+)/);\nconst guiaId = idMatch ? idMatch[1] : '';\nreturn [{ json: {\n  ...grupo, _exito: exito, guiaId, location, statusCode,\n  mensaje: exito ? `Despachado OK - Guía #${guiaId}` : `Error al guardar - Status:${statusCode}`\n}}];"
      }
    },
    {
      "id": "d5f87ed8-1ff4-4c22-9683-073ffd057f57",
      "name": "¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3300,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._exito }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "5ac0e2cf-b671-4234-852a-9dad7656830c",
      "name": "Log Sheet OK",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3520,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t30E9aLBIV6P3jRx",
          "name": "Google Sheets account 3"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nTU-pkmHKiiSUs5ro5dVmZLawxUEKGoL53wE0Mhxt0g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "despachos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "casillero_id": "={{ $json.casilleroId }}",
            "agencia": "Colombia",
            "whrs": "={{ $json.whrsValidos.join(', ') }}",
            "tipo": "={{ $json.tipo }}",
            "guias_validas": "={{ $json.piezas }}",
            "guias_omitidas": "",
            "estado": "DESPACHADO",
            "guia_courier": "={{ $json.guiaId }}",
            "fecha": "={{ new Date().toLocaleString('es-CO') }}",
            "bot": "={{ $json.mensaje }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "d0f79d52-ba36-4638-986d-c6a0bb018493",
      "name": "Log Sheet Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3520,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t30E9aLBIV6P3jRx",
          "name": "Google Sheets account 3"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nTU-pkmHKiiSUs5ro5dVmZLawxUEKGoL53wE0Mhxt0g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "despachos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "casillero_id": "={{ $json.casilleroId || '' }}",
            "agencia": "Colombia",
            "whrs": "={{ ($json.whrsValidos || []).join(', ') }}",
            "tipo": "={{ $json.tipo || '' }}",
            "guias_validas": "={{ $json.piezas || 0 }}",
            "guias_omitidas": "={{ $json._error || '' }}",
            "estado": "ERROR",
            "guia_courier": "",
            "fecha": "={{ new Date().toLocaleString('es-CO') }}",
            "bot": "={{ $json.mensaje || $json._error || 'Error desconocido' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "d7a5c5fe-0139-41f2-808a-c69fef5e92cc",
      "name": "Responder Resultado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3740,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, mensaje: \"Despacho completado\" }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Login WMS Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login WMS Normal": {
      "main": [
        [
          {
            "node": "Extraer Cookies y IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Cookies y IDs": {
      "main": [
        [
          {
            "node": "Buscar en Despachos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar en Despachos": {
      "main": [
        [
          {
            "node": "Motor de Reglas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Reglas": {
      "main": [
        [
          {
            "node": "Split Grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Grupos": {
      "main": [
        [
          {
            "node": "¿Es DG?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es DG?": {
      "main": [
        [
          {
            "node": "Login WMS DG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login WMS DG": {
      "main": [
        [
          {
            "node": "Extraer Cookies DG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Cookies DG": {
      "main": [
        [
          {
            "node": "whrToGuiaMultiples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Cookie": {
      "main": [
        [
          {
            "node": "whrToGuiaMultiples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whrToGuiaMultiples": {
      "main": [
        [
          {
            "node": "Cargar guias.asp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar guias.asp": {
      "main": [
        [
          {
            "node": "Parsear guias.asp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear guias.asp": {
      "main": [
        [
          {
            "node": "¿Parse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Parse OK?": {
      "main": [
        [
          {
            "node": "guardarguia.asp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Sheet Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardarguia.asp": {
      "main": [
        [
          {
            "node": "Verificar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Resultado": {
      "main": [
        [
          {
            "node": "¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Éxito?": {
      "main": [
        [
          {
            "node": "Log Sheet OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Sheet Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sheet OK": {
      "main": [
        [
          {
            "node": "Split Grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sheet Error": {
      "main": [
        [
          {
            "node": "Split Grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ZenderBox"
    },
    {
      "name": "WMS"
    }
  ]
}